:root {
	--wid: 300px;
	--marginModul: 270px;
	--imgHeight: 512px;
}
*{
	margin:0;
	padding:0;
}
#changeFrame{
	width:70%;
	margin:auto;
	
}
#pic1,#pic2{
	position:absolute;
	width:70%;
	
}
#pic1{
	outline:solid #188f9e 8px;
	background-color:#188f9e;
	box-shadow: 35px 35px rgba(0,0,0,0.3);
}

#pic2{
	clip: rect(0px,var(--wid),10000px,0px);
	
}
#modul{
	position:absolute;
	z-index:10;
	height:calc(var(--imgHeight) + calc(var(--imgHeight)*0.14)); /*Berechnet die Höhe des Moduls*/
	margin-top: calc(var(--imgHeight)*(-0.07)); /*Berechnet den Abstand nach oben des Moduls*/
	margin-left:var(--marginModul);
}
.divBild{
	position:relative;
	width:100%;
	background-image:url("../bilder/background/bg3.png");
	padding-top:100px;
	height: calc(var(--imgHeight) + 100px);
	outline:solid rgba(0,0,0,0.1) 15px;
}
.divBild i{
	position:absolute;
	font-size:calc(var(--imgHeight)*0.3);
	margin-top:calc(calc(var(--imgHeight)*0.5) - calc(var(--imgHeight)*0.15));
	color:#dbdbdb;
	transition:0.2s;
}
.divBild i:hover{
	color:#188f9e;
	cursor:pointer;
}
#leftArr{
	left:5%;
}
#rightArr{
	right:5%;
}
.lockImg{
	position: absolute;
	width:70%;
	height: 70%;
	z-index: 10;
}

.divBild p{
	display: none;
	position: absolute;
	top: -50px;
	font-size: 20rem;
	color: #dbdbdb;
	
	left: calc(50% - 5rem);
	z-index: 15;
	animation: phoneTurn 2.1s ease-out infinite;
}

@keyframes phoneTurn{
	0%{
		transform: rotate(0deg);
	}
	18%{
		transform: rotate(0deg);
	}
	30%{
		transform: rotate(-10deg);
	}
	70%{
		transform: rotate(95deg);
	}
	80%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(90deg);
	}
}

/* - ladescreen der Bilder - */
.loadingImg{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.6);
	transition: 0.8s;
	z-index: 70;
}
.loadingImg img{
	position: absolute;
	left: 50%;
	top: 50%;
	width:20vw;
	transform: translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}