.contentBox{
	position: relative;
	width: 100%;
	background-image: url(../bilder/legalDisclosure/stone.png);
	outline:solid rgba(0,0,0,0.1) 15px;
}

.contentLayer{
	position: relative;
	width: calc(100% - 208px);
	height: 100%;
	top: 0px;
	left: 208px;
	padding: 50px 20px 50px 0px;
	box-sizing: border-box;
}
.contentLayer p{
	color: #fff;
	font-size: 1.6rem;
}
.contentLayer h2{
	color: #fff;
	font-size: 2.5rem;
	margin-top: 1.6rem;
}


.rails{ /* Größe Rails: 208px*/
	position: absolute;
	top: 0;
	left:0px;
	width:192px;
	height: 100%;
	margin: 0 8px;
	
	background-image: url(../bilder/legalDisclosure/rails.png);
}
@media screen and (max-width: 980px) and (orientation: portrait){
	.contentLayer{
		left: 0px;
		width: 100%;
	}
	.contentLayer p{
		font-size: 1.7em;
	}
	.contentLayer{
		padding-left: 20px;
	}
	.rails{
		display: none;
	}
}