/* --- Loading... --- */
.loadingScreen{
	opacity: 1;
	position: fixed;
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	/*background-image:url("../bilder/background/bg1.png");*/
	background-color: #eee;
	z-index: 100;
	transition: 0.7s;
	z-index: 100;
}
.loadingScreen img{
	position: absolute;
	left: 50%;
	top: 50%;
	width:12vw;
	transform: translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}

@media only screen and (max-width: 980px){
	.loadingScreen img{
		width:30vw;
	}
}