/*
	Blau: #188f9e
	grau: #353535
*/


/* --- Gallery --- */
.spacer{
	height: 90px;
}

/* -Beschreibung- */
.divGallery{
	width:100%;
	background-image:url("../bilder/background/bg5.png");
	outline:solid rgba(0,0,0,0.1) 15px;
	padding:1px 0px; /*padding von 1px, weil sonst kein Margin vergeben werden kann*/
}

.infobox{
	position:absolute;
	top:0px;
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	margin-left:35px;
	padding:10px 40px;
}
.infobox p{
	font-size:1.8em;
	color:#353535;
	font-weight: bold;
	z-index:1;
}
/*Für Schräge Kanten*/
.infobox .cutLeft,.infobox .cutRight{
	position:absolute;
	top:0px;
	width:51%;
	height:100%;
	z-index:-1;
}
.infobox .cutLeft{
	left:0px;
	background: linear-gradient(120deg, transparent 25px, #188f9e 0) top left;
}
.infobox .cutRight{
	right:0px;
	background: linear-gradient(240deg, transparent 25px, #188f9e 0) top right;
}

/* -Gallery- */

.galleryFrame{
	position:relative;
	margin:auto;
	margin-bottom:100px;
	width:80%;
	max-width: 1400px;
	
	border:solid #188f9e 8px;

	background-color: #353535;
	box-shadow: 35px 35px rgba(0,0,0,0.3);
	
	transition:0.2s;
	z-index:100;
	padding: 15px 1vw;
}

.blockFrame{
	position: relative;
	width: 33.3%;
	height: 326px;
	margin: 15px 0px;
	
	float:left;
	transition: 0.2s;
}

.blockBox{
	position: absolute;
	height: 320px;
	width: 320px;
	background-color: rgba(255,255,255,0.85);
	border: solid #188f9e 3px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform:translateX(-50%);
}

@media screen and (max-width: 1260px) { /*Wenn die Fenster nicht mehr neben einander angeordnet werden können*/
	.blockFrame{
		width: 50%;
	}
}
@media screen and (max-width: 835px) {
	.blockFrame{
		width: 100%;
	}
}


/* Bild, Schatten und Animation*/
.blockBox img{
	position: absolute;
	height: 70%;
	left:48px;
	top: 10px;
	z-index: 5;

	transition: 0.2s;
	/*animation: animateImg 2s ease-out infinite alternate;*/
}
.blockBox .shadow{
	height: 60px;
	width: 60%;
	background-color: rgba(0,0,0,0.2);
	margin: 200px auto;
	border-radius: 50%;
	z-index:2;

	transition: 0.2s;
	/*animation: animateShadow 0.9s ease-out infinite alternate;*/
}

.blockBox:hover img{
	animation: animateImg 0.45s ease-out infinite alternate;
}

.blockBox:hover .shadow{
	animation: animateShadow 0.45s ease-out infinite alternate;
}


@keyframes animateImg{
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-15px);
	}
}
@keyframes animateShadow{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0.85);
	}
}
/* -Schrift- */
.blockBox p{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px; 

	font-weight: bold;
	color: #353535;
	font-size: 2.2em;
}
.blockBox i{
	position: absolute;
	top:30%;
	color: #353535;
	font-size: 6em;
	margin: 0px 10px;
	transition:0.2s;
}
.blockBox .fa-angle-left{
	left: 0px;
}
.blockBox .fa-angle-right{
	right: 0px;
}
.blockBox i:hover{
	color: #188f9e;
	cursor: pointer;
}