/*
	Blau: #188f9e
	grau: #353535
*/

/* --- Auf alle betreffend ---- */
*{
	margin:0px;
	padding:0px;
}
body{
	background-image:url("../bilder/background/bg1.png");
}
h1{
	font-family: "Bauhaus 93";
	color:#188f9e;
	font-size:8.5em;
	text-align:center;
	line-height: 1em;
	margin-top:150px;
}
h3{
	font-family: "Bauhaus 93";
	color:#353535;
	font-size:3.1em;
	text-align:center;
	margin-bottom:150px;
}
.text{
	margin:150px 0px;
}


/* --- Menü --- */
.menu{
	height:75px;
	width:100%;
	background-color:#353535;
	/*border-bottom:solid #188f9e 10px;*/
	outline:solid rgba(24,143,158,0.8) 10px;
	font-family: Nunito;
	transition:0.2s;
}

.menu img{
	height:75px;
	margin-left:15px;
}
.menu p a{
	text-decoration:none;
	color:#fff;
	margin: 0px 40px;
	transition:0.2s;
}
.menu p{
	color:#fff;
	float:right;
	font-size:1.5em;
	margin:20px 35px;
	font-weight: bold;
}
.menu #visit, .menu a:hover, .menu .icon:hover{
	color:#188f9e;
}
.menu .icon{
	display:none;
	color:#fff;
	float:right;
	font-size:2.5em;
	margin:15px 35px;
	cursor:pointer;
	transition:0.2s;
}
@media screen and (max-width: 1000px) { /*bei kleinem Fenster*/
	.menu p{ /*elemente ausblenden*/
		display: none;
	}
	.menu .icon { /*icon anzeigen*/
		display: block;
	}
}
.menu.responsive .space{
	display:none;
}
.menu.responsive {
	height:220px;
	
}
.menu.responsive p{
	display:block;
	float:right;
	width:50px;
	margin-top:70px;
	margin-right:-60px;
}
.menu.responsive p a{
	float:right;
	margin:6px 0px;
}

/* --- Footer --- */
footer{
	position:relative;
	width:100%;
	height:200px;
	background-color:#303030;
	
	font-weight: bold;
	font-family: Nunito;
	font-size:1.5em;
	color:#fff;
}
footer .links, footer p{
	margin:25px 40px;
}
footer .links{
	position:absolute;
	top:0px;
	left:0px;
}

footer a{
	margin:30px;
	font-size:1.1em;
	color:#fff;
	text-decoration:underline;
	transition:0.2s;
}
footer a:hover{
	color:#188f9e;
}

footer p{
	position:absolute;
	bottom:0px;
	right:0px;
}